* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: skolar-sans-latin, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    font-size: 2.566em;
    font-weight: 800;
    font-style: normal;
    line-height: 1.5rem;
}

video{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
    height: 600px;
}

video::-webkit-media-controls-volume-slider {
    display: none;
  }
  
  video::-webkit-media-controls-mute-button {
    display: none;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    font-size: 1em;
    background-color: #EFE0CC;
}

.title{
    transition: all 0.3s ease 0s;
    font-size: 1.602em;
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title a{
    color: #7A3B00;
    text-decoration: none;
}

.title a:hover{
color:#940000;
}


figcaption{
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 300;
    padding: 1rem;
    font-size: 1em;
    font-size: 0.79em;
}

p{
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
    font-size: 1.266em;
    margin-bottom: 2rem;
}

h2{
    line-height: 0em;
    padding: 1rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 2.027em;
    font-weight: 600;
    font-style: normal;
    margin-top: .75rem;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 2rem;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-size: 1.125em;
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#7A3B00;
    text-decoration: none;
}

.nav_links li a:hover{
color:#940000;
}

footer{
    padding: 1rem;
}

.habitat{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

audio{
    padding: 1rem;
    display: block;
    margin: 0 auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: 2rem;
  }

.mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 2.027em;
    transition: 0.6s ease;
    border-radius: 0 3rem 3rem 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3rem 0 0 3rem;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 300;
    color: black;
    font-size: 1em;
    padding: 1rem 1rem;
    position: absolute;
    bottom: -2.5rem;
    width: 100%;
    text-align: center;
  }

.size-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
    margin-top: 15rem;
}

.diagram{
    flex-basis: 125%;
    order: 2;
}

.migration{
    width: 5%;
    padding: 1rem;
}

.migrate-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.migrate-image {
    flex-basis: 40%
  }

.migrate-text {
    font-size: 20px;
    padding-left: 20px;
    font-size: 1em;
  }

.nesting-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.nesting-image {
    order: 2;
    padding: 1rem;
  }

.nesting-text {
    font-size: 20px;
    padding-left: 20px;
    font-size: 1em;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: 2rem;
  }

.mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 2.027em;
    transition: 0.6s ease;
    border-radius: 0 3rem 3rem 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3rem 0 0 3rem;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 300;
    color: black;
    font-size: 1em;
    padding: 1rem 1rem;
    position: absolute;
    bottom: -2.5rem;
    width: 100%;
    text-align: center;
  }

  .migration{
    padding: 1rem;
}

.migrate-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.migrate-image {
    flex-basis: 40%;
  }

.migrate-text {
    font-size: 20px;
    padding-left: 20px;
    font-size: 1em;
  }

@media screen and (max-width: 830px){
    video{
        width: 40rem;
        height: 30rem;
        padding: 1rem;
    }
    .slideshow-container{
        width: 300%;
    }
}

@media screen and (max-width: 650px){
    iframe{
        width: 35rem;
        height: 25rem;
        padding: 1rem;
    }
    .slideshow-container{
        width: 300%;
    }
    p{
        font-size: 1.125em;
    }
    h1{
        font-size: 2.281em;
    }
    h2{
        font-size: 1.602em;
    }
}

@media screen and (max-width: 575px){
    iframe{
        width: 30rem;
        height: 20rem;
        padding: 1rem;
    }
    .slideshow-container{
        width: 400%;
    }
    p{
        font-size: 1em;
        padding-right: .5rem;
    }
    h1{
        font-size: 2.027em;
    }
    h2{
        font-size: 1.424em;
    }
}

@media screen and (max-width: 425px){
    iframe{
        width: 20rem;
        height: 15rem;
        padding: 1rem;
    }
    .slideshow-container{
        width: 400%;
    }
}

/* Modular Scale
3.247em
2.887em
2.566em h1
2.281em
2.027em
1.802em 52
1.602em
1.424em
1.266em
1.125em
1em
0.889em

Baseline Grid
.75
1.5
2.25
3
3.75
*/
